In [65]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
import pandas as pd
import os
os.chdir("..")
os.chdir("Preprocessing")
from preprocessing import *

Dlkcat = pd.read_csv("C:\\Users\Gilbert\Documents\BCB_Research\Kcat_Benchmark_ML_Models\Data\Dlkcat_output.csv")
data = preprocessing("C:\\Users\Gilbert\Documents\BCB_Research\Kcat_Benchmark_ML_Models\Data\kcat_transferase.csv")

In [66]:
Dlkcat_kcat = Dlkcat.drop(columns =["Protein Sequence", "Substrate SMILES", "Substrate Name"],errors='ignore')

In [67]:
Dlkcat_kcat.head()

   Kcat value (1/s)
0            0.0583
1            0.1254
2            0.1185
3            0.0513
4            0.0003

In [68]:
actual_kcat = data.drop(columns=["EC_number", "Species", "unit", "Compound", "Compound_name", "Amino_encoding"], errors='ignore')

In [69]:
actual_kcat.head()

     Kcat
0  0.0410
1  1.0200
2  0.0830
3  0.0375
4  0.3800

In [70]:
final_kcat = pd.concat([Dlkcat_kcat, actual_kcat], axis=1)

In [71]:
final_kcat.head()

   Kcat value (1/s)    Kcat
0            0.0583  0.0410
1            0.1254  1.0200
2            0.1185  0.0830
3            0.0513  0.0375
4            0.0003  0.3800

In [72]:
final_kcat = final_kcat.dropna()

In [76]:
# Log-transform the values
X_log = np.log10(final_kcat["Kcat value (1/s)"])
y_log = np.log10(final_kcat["Kcat"])

# Create a mask to identify non-infinite values in both X and y
mask = ~np.isinf(X_log) & ~np.isinf(y_log)

# Apply the mask to get cleaned arrays
X_cleaned = X_log[mask]
y_cleaned = y_log[mask]

c:\Users\Gilbert\anaconda3\envs\bcb_2\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [74]:
# X_cleaned = final_kcat["Kcat value (1/s)"]
# y_cleaned = final_kcat["Kcat"]

In [77]:
from sklearn.model_selection import train_test_split

# Assuming X is your features and y is your target variable (Kcat values)
X_train, X_test, y_train, y_test = train_test_split(X_cleaned, y_cleaned, test_size=0.2, random_state=42)

In [80]:
X_test.shape

(818,)

In [64]:
def evaluate_model(y_test, X_test):
    mse = mean_squared_error(y_test, X_test)
    print('MAE: ', mean_absolute_error(y_test, X_test))
    print('MSE: ', mse)
    print('R2:', r2_score(y_test, X_test))
    print('RMSE:', np.sqrt(mse))
    print("Pearson Correlation:", np.corrcoef(y_test, X_test)[0,1])

evaluate_model(y_test, X_test)

MAE:  78.49038579836736
MSE:  157540.31135868275
R2: 0.4195964329683003
RMSE: 396.91348094853464
Pearson Correlation: 0.655677502198191